*{
    font-family: "Finladica", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
}

.header{
    width: 100%;
    height: 3rem;
    display: block;
}

.header-image{
    width: 20%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 3rem;
}

.box-1{
    width: 95%;
    margin: 0 auto;
    height: 34rem;
    background-color: #DBE5F4;
    margin-top: 5rem;
    display: flex;
}

.left-side{
    width: 60%;
    margin-top: 3rem;
}

.prototype-image{
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 10%;
}

.eco-friendly-image{
    width: 20%;
    height: auto;
    display: block;
    position: absolute;
    margin-top: -12%;
    margin-left: 6.5%;
}

.right-side{
    width: 40%;
}

.earth-image{
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 3rem;
}

.text{
    width: 100%;
    text-align: center;
    color: #006E46;
    font-weight: bold;
}

.big{
    font-size: 2.5rem;
}

.small{
    font-size: 1.3rem;
    text-decoration: underline;
}

.earth-text{
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.learn-more-container{
    width: 95%;
    margin: 0 auto;
    height: 2.3rem;
    background-color: #DBE5F4;    
}

.learn-more{
    width: 18rem;
    height: 2.3rem;
    background-color: #F5F2ED;
    text-align: center;
    display: block;
    margin: 0 auto;
    border-radius: 10px 10px 0px 0px;
    padding-top: 0.6rem;
}

.large-box-2{
    width: 95%;
    margin: 0 auto;
    height: 45rem;
    display: flex;
    background-image: url("BG.png");
    background-size: cover;
    background-position: center;
}

.left-side2{
    display: flex;
    flex-direction: column;
}

.image-container1{
    display: block;
    margin: 0 auto;
    height: 30.7rem;
    width: 100%;
}

.image-container2{
    display: block;
    height: 32rem;
}

.image-container3{
    height: 10rem;
}

.trees{
    display: flex;
}

.a1-tree-img{
    width: 4rem;
    margin-top: 6.5rem;
    margin-left: 2rem;
}

.a2-tree-img{
    width: 6rem;
    margin-top: 2.2rem;
    margin-left: 3%;
}

.b1-tree-img{
    width: 5rem;
    margin-top: 3.4rem;
}

.b2-tree-img{
    width: 4rem;
    margin-top: 1.3rem;
    margin-left: 3%;
}

.c1-tree-img{
    width: 4rem;
    margin-top: 19.3rem;
}

.c2-tree-img{
    width: 6rem;
    margin-top: 11.3rem;
    margin-left: 3%;
}

.right-side2{
    width: 30%;
}

.center{
    width: 40%;
}

.kleen_image{
    display: block;
    width: 70%;
    height: auto;
    margin-left: 20%;
    margin-top: 3rem;
}

.textt{
    width: 20rem;
    margin-left: 25%;
    margin-top: 1.5rem;
}

.eco-text{
    width: 90%;
    display: block;
    margin-left: 20%; 
    margin-top: 2rem;
}

.refined-proto{
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-top: 2rem;
}

.icons{
    width: 60%;
    height: auto;
    display: block;
    margin-top: 8rem;
}

.small-box-2{
    display: none;
    width: 95%;
    margin: 0 auto;
    height: 45rem;
    background-image: url("BG.png");
    background-size: cover;
    background-position: center;
}

@media only screen and (min-width: 901px) and (max-width: 1150px){
 
    .icons{
        width: 80%;
        height: auto;
        display: block;
        margin-top: 8rem;
    }

    .box-1{
        height: 31rem;
    }

    .image-container1{
        height: 27.7rem;
    }
    
    .image-container2{
        height: 29rem;
    }
    
    .image-container3{
        height: 7rem;
    }

    .large-box-2{
        height: 42rem;
    }
}

@media only screen and (min-width: 721px) and (max-width: 900px){
 
    .box-1{
        height: 28rem;
    }

    .prototype-image{
        width: 60%;
    }

    .refined-proto{
        display: block;
        margin: 0 auto;
    }

    .left-side2{
        width: 50%;
    }

    .center{
        width: 50%;
    }

    .large-box-2{
        display: none;
    }

    .small-box-2{
        display: flex;
        height: 40rem;
    }

    .kleen_image{
        width: 50%;
        margin-top: 5rem;
    }

    .eco-text{
        margin-top: 3rem;
        width: 70%;
    }

    .a1-tree-img{
        width: 3rem;
        margin-top: 6.5rem;
        margin-left: 20%;
    }

    .a2-tree-img{
        width: 5rem;
        margin-top: 2.2rem;
        margin-left: 20%;
    }

    .b1-tree-img{
        margin-left: 10%;
        margin-top: 1.3rem;
    }

    .b2-tree-img{
        width: 3rem;
        margin-top: 1.3rem;
        margin-left: 10%;
    }

    .image-container1{
        height: 27.7rem;
    }
    
    .image-container2{
        height: 29rem;
    }

    .refined-proto{
        width: 45%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 720px){

    .header-image{
        width: 30%;
    }

    .textt{
        font-size: 0.8rem;
        width: 16rem;
    }

    .box-1{
        height: 24rem;
    }

    .prototype-image{
        width: 60%;
    }

    .refined-proto{
        display: block;
        margin: 0 auto;
    }

    .left-side2{
        width: 50%;
    }

    .center{
        width: 50%;
    }

    .large-box-2{
        display: none;
    }

    .small-box-2{
        display: flex;
        height: 31.7rem;
    }

    .kleen_image{
        width: 50%;
        margin-top: 5rem;
    }

    .eco-text{
        margin-top: 3rem;
        width: 80%;
    }

    .a1-tree-img{
        width: 2rem;
        margin-left: 20%;
        height: 4rem;
        margin-top: 4rem;
    }

    .a2-tree-img{
        width: 3rem;
        height: 6.5rem;
        margin-left: 20%;
        margin-top: 1.5rem;
    }

    .b1-tree-img{
        margin-left: 10%;
        margin-top: -1rem;
        width: 3rem;
    }

    .b2-tree-img{
        width: 2rem;
        margin-top: -1.3rem;
        margin-left: 10%;
    }

    .image-container1{
        height: 23.7rem;
    }
    
    .image-container2{
        height: 27rem;
    }

    .refined-proto{
        width: 45%;
    }
    .big{
        font-size: 2rem
    }

    .earth-image{
        margin-top: 4rem;
    }
}


@media only screen and (min-width: 501px) and (max-width: 600px){

    .header-image{
        width: 35%;
    }

    .textt{
        font-size: 0.9rem;
        width: 14rem;
    }

    .box-1{
        height: 24rem;
    }

    .prototype-image{
        width: 70%;
    }

    .refined-proto{
        display: block;
        margin: 0 auto;
        margin-top: 3rem;
    }

    .left-side2{
        width: 50%;
    }

    .center{
        width: 50%;
    }

    .large-box-2{
        display: none;
    }

    .small-box-2{
        display: flex;
        height: 31.7rem;
    }

    .kleen_image{
        width: 50%;
        margin-top: 5rem;
    }

    .eco-text{
        margin-top: 3rem;
        width: 85%;
    }

    .a1-tree-img{
        width: 2rem;
        margin-left: 20%;
        height: 4rem;
        margin-top: 4rem;
    }

    .a2-tree-img{
        width: 3rem;
        height: 6.5rem;
        margin-left: 20%;
        margin-top: 1.5rem;
    }

    .b1-tree-img{
        margin-left: 10%;
        margin-top: -1rem;
        width: 3rem;
    }

    .b2-tree-img{
        width: 2rem;
        margin-top: -1.3rem;
        margin-left: 10%;
    }

    .image-container1{
        height: 23.7rem;
    }
    
    .image-container2{
        height: 24rem;
    }

    .refined-proto{
        width: 45%;
    }

    .big{
        font-size: 1.7rem
    }

    .text{
        width: 90%;
    }

    .earth-image{
        margin-top: 4rem;
    }
}


@media only screen and (min-width: 410px) and (max-width: 500px){

    .left-side{
        width: 100%;
        padding-top: 1rem;
    }

    .eco-friendly-image{
        margin-top: -5rem;
        margin-left: 15%;
    }

    .right-side{
        width: 100%;
        display: flex;
    }

    .earth-image{
        width: 60%;
    }

    .left{
        width: 60%;
    }

    .right{
        width: 40%;
        margin-top: 4rem;
    }

    .header-image{
        width: 35%;
    }

    .textt{
        font-size: 0.9rem;
        width: 14rem;
    }

    .box-1{
        height: 36rem;
        display: block;
    }

    .prototype-image{
        width: 55%;
    }

    .refined-proto{
        display: block;
        margin: 0 auto;
        margin-top: 3rem;
    }

    .left-side2{
        width: 50%;
    }

    .center{
        width: 50%;
    }

    .large-box-2{
        display: none;
    }

    .small-box-2{
        display: flex;
        height: 31.7rem;
    }

    .kleen_image{
        width: 50%;
        margin-top: 5rem;
    }

    .eco-text{
        margin-top: 3rem;
        width: 85%;
    }

    .a1-tree-img{
        width: 2rem;
        margin-left: 20%;
        height: 4rem;
        margin-top: 4rem;
    }

    .a2-tree-img{
        width: 3rem;
        height: 6.5rem;
        margin-left: 20%;
        margin-top: 1.5rem;
    }

    .b1-tree-img{
        margin-left: 10%;
        margin-top: -1rem;
        width: 3rem;
    }

    .b2-tree-img{
        width: 2rem;
        margin-top: -1.3rem;
        margin-left: 10%;
    }

    .image-container1{
        height: 23.7rem;
    }
    
    .image-container2{
        height: 24rem;
    }

    .refined-proto{
        width: 45%;
    }

    .big{
        font-size: 1.7rem
    }

    .text{
        width: 90%;
    }

    .earth-image{
        margin-top: 4rem;
    }

}


@media only screen and (max-width: 449px){

    .left-side{
        width: 100%;
        padding-top: 1rem;
    }

    .eco-friendly-image{
        margin-top: -5rem;
        margin-left: 15%;
    }

    .right-side{
        width: 100%;
        display: flex;
    }

    .earth-image{
        width: 60%;
    }

    .left{
        width: 60%;
    }

    .right{
        width: 40%;
        margin-top: 4rem;
    }

    .header-image{
        width: 35%;
    }

    .textt{
        font-size: 0.9rem;
        width: 14rem;
    }

    .box-1{
        height: 34rem;
        display: block;
    }

    .prototype-image{
        width: 55%;
    }

    .refined-proto{
        display: block;
        margin: 0 auto;
        margin-top: 11rem;
    }

    .left-side2{
        width: 50%;
    }

    .center{
        width: 50%;
    }

    .large-box-2{
        display: none;
    }

    .small-box-2{
        display: flex;
        height: 31.7rem;
    }

    .kleen_image{
        width: 50%;
        margin-top: 5rem;
    }

    .eco-text{
        margin-top: 3rem;
        width: 95%;
    }

    .a1-tree-img{
        width: 2rem;
        margin-left: 20%;
        height: 4rem;
        margin-top: 4rem;
    }

    .a2-tree-img{
        width: 3rem;
        height: 6.5rem;
        margin-left: 20%;
        margin-top: 1.5rem;
    }

    .b1-tree-img{
        margin-left: 10%;
        margin-top: -1rem;
        width: 3rem;
    }

    .b2-tree-img{
        width: 2rem;
        margin-top: -1.3rem;
        margin-left: 10%;
    }

    .image-container1{
        height: 23.7rem;
    }
    
    .image-container2{
        height: 16rem;
    }

    .refined-proto{
        width: 45%;
    }

    .big{
        font-size: 1.7rem
    }

    .text{
        width: 90%;
    }

    .earth-image{
        margin-top: 4rem;
    }

}
